@{ 
    ViewBag.Title = "登陆";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width",initial-scale="1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/site.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/images/favicon.ico" />
</head>
<body style="background-color:#2a3b52;background-image:none;">
    <div class="login">
        <form asp-action="Login" asp-controller="Account" method="post">
            <img class="login-logo" src="~/images/Logo.png" alt="学生信息管理系统" />
            <h2 class="login-title">学生信息管理系统</h2>
            <input type="text" class="login-textbox" placeholder="用户名" name="Username" />
            <br />
            <input type="password" class="login-textbox" placeholder="密码" name="Password" />
            <input type="submit" value="" class="login-go" />
        </form>
    </div>
    <div class="clr"></div>
    <div class="footer">
        &copy; 2015 Harbin Code Comb Technology Co. Ltd. All rights reserved.
    </div>
</body>
</html>